body {
    background: var(--portfolio-background, #FCF9F2); 
    
}
nav {
    background-color: #FCF9F2;
    height: auto;
    width: 98%;
    padding: 1%;
    
}

/* ul {
    width: 50%;
} */

img {
    height: 25%;
    width: auto;
}

li {
    display: block;
    text-align: center;
    text-decoration:none ;
}

h1 {
    color: var(--portfolio-text-main, #231F20);
    text-align: center;
    font-family: Judson;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    background: var(--portfolio-background, #FCF9F2)
}

h2 {
        color: var(--portfolio-text-main, #231F20);
        text-align: center;
        font-family: Judson;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: auto;
        background: var(--portfolio-background, #FCF9F2)
}

h3 {
    color: var(--portfolio-text-main, #231F20);
    text-align: center;
    font-family: Judson;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    background: var(--portfolio-background, #FCF9F2)
}


a:link {
  color: #231F20;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #231F20;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #231F20;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #231F20;
  background-color: transparent;
  text-decoration: none;
}


.flex {
    display:flex;
    justify-content:space-around;
}

.navbar {
    width:98%;
    padding: 1%;
}
.logo {
    padding: 1%;
    text-align: center;
}

#header-logo {
    width:150px;
    height: auto;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}

.btn{
    color: var(--portfolio-text-main, #231F20);
    text-align: center;
    font-family: Judson;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 60px;
}

.text{
    text-align: center;
    width: auto;
    height: fit-content;
    color: var(--portfolio-text-main, #231F20);
    font-family: Judson;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    padding-right: 10px;

}

.footerContainer {
    border: 3px solid var(--portfolio-logo-main, #608058);
    width: 98%;
    height: fit-content;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContainer {
    border: 3px solid var(--portfolio-logo-main, #608058);
    width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 3px solid var(--portfolio-logo-main, #608058);
    width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heroimg {
    align-content: center;
    padding: 5%;
    height: 400px;
    width: auto;
}

.skillimg{
    padding: 5%;
    height: auto;
    width: 75%;
}

.flexContainer {
    display: flex;
    width: 90%;
    padding: 5%;
    justify-content: center;
    align-items: center;
}

.flex-item {
    width: 25%;
    margin: 5px;
}

.work{
    display: flex;
    justify-content: space-around;
   
    
}

.item1{
    grid-area: image1;
    margin: 5px;
    text-align: center;
}

.item2 {
    grid-area: description1;
    margin: 5px;
    text-align: center;
}

.item3 {
    grid-area: image2;
    margin: 5px;
    text-align: center;
}

.item4 {
    grid-area: description2;
    margin: 5px;
    text-align: center;
}

.item5 {
    grid-area: image3;
    margin: 5px;
    text-align: center;
}

.item6 {
    grid-area: description3;
    margin: 5px;
    text-align: center;
}

.hover {
    text-shadow: 2px 2px 5px #231F20;
}
    
@media only screen and (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
        
    }

    .flex-item {
        width: 100%;
        padding: 5%;
    }

    .text{ font-size: 20px;}    
    
}

.work-img {
    height: 650px;
}

#about-heading {
    height: 450px;
    align-content: center;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    width: 50%;
}

