body {
    background: var(--portfolio-background, #FCF9F2); 
    
}
nav {
    background-color: #FCF9F2;
    height: auto;
    width: 98%;
    padding: 1%;
    
}

 

img {
    height: 25%;
    width: auto;
}


h1 {
    color: var(--portfolio-text-main, #231F20);
    text-align: center;
    font-family: Judson;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    background: var(--portfolio-background, #FCF9F2)
}

h2 {
        color: var(--portfolio-text-main, #231F20);
        text-align: center;
        font-family: Judson;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: auto;
        background: var(--portfolio-background, #FCF9F2)
}

h3 {
    color: var(--portfolio-text-main, #231F20);
    text-align: center;
    font-family: Judson;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    background: var(--portfolio-background, #FCF9F2)
}

hr {
    background-color: #608058;
    height: 2px;
    border:none;
    width: 80%;
}




a:link {
  color: #231F20;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #231F20;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #231F20;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #231F20;
  background-color: transparent;
  text-decoration: none;
}

.contactLink{
    height:auto;
    width: 50px;
    display: inline;
}
.navbar {
    width:98%;
    padding: 1%;
}
.logo {
    padding: 1%;
    text-align: center;
}

#header-logo {
    width:150px;
    height: auto;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}

.btn{
    color: var(--portfolio-text-main, #231F20);
    text-align: center;
    font-family: Judson;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 60px;
}

p{
    text-align: center;
    width: auto;
    height: fit-content;
    color: var(--portfolio-text-main, #231F20);
    font-family: Judson;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration:none ;

}

.footerContainer {
    display: flex;
    justify-content: center;
    border: 3px solid var(--portfolio-logo-main, #608058);
   
   
}

.aboutContainer {
    border: 3px solid var(--portfolio-logo-main, #608058);
    width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 3px solid var(--portfolio-logo-main, #608058);
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heroimg {
    align-content: center;
    padding: 5%;
    height: 400px;
    width: auto;
}

.skillimg{
    padding: 5%;
    height: auto;
    width: 75%;
}

.flexContainer {
    display: flex;
    justify-content:center ;
    

}

.flex-item {
    width: 20%;
    margin: 5px;
}

.work{
    display: flex;
    justify-content: space-around;
}



.hover {
    text-shadow: 2px 2px 5px #231F20;
}
    
@media only screen and (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
        
    }

    .flex-item {
        width: 80%;
        padding: 5%;
    }

    .text{ font-size: 20px;}
    
    .work-img {
        width: 50%;
        height: auto;
        padding: 20px 20px 60px 60px;
       }
    
}

.work-img {
    width:auto;
    height: 650px;
}

#about-heading {
    height: 450px;
    align-content: center;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    width: 50%;
}

